* {
    box-sizing: border-box;
    margin:10px;
    padding:0;
}
body {
    margin:10px;
    padding:70px;
    border:1px solid gainsboro;
    width:70%;
   margin-left: 200px;
   margin-right: 200px;
   display: block; 
}
.logo {
    display: flex;
    justify-content: space-between;
}
#pic {
    border: 1px solid grey;
    padding-top: 40px;
    text-align: center;
    width:100px;
    height:100px;
    background-color: gray;
    }
    #nav {
        border: 1px solid grey;
        padding-top: 40px;
        text-align: center;
        width:200px;
        height:100px;
        background-color: gray;  
    }

.images {
    list-style: none;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
}
img {
    width:200px;
    height:200px;
}
.item  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    
}
.item label {
    display:block;
    margin:20px;
    font-weight: bold;
    font-size: 20px;
}
input[type=checkbox] {
    width:20px;
    height:20px;
}
progress{
    width:100%;
   margin:10px;
   border:1px solid black;
   height:30px;
   }
   progress::-webkit-progress-value {    background-color: rgb(189, 181, 181) !important;}
   progress::-webkit-progress-bar {    background-color: rgb(245, 240, 240) !important;}
   button {
       width:200px;
       height: 50px;
       float: right;
    background-color: gainsboro;
   }
   a {
       text-decoration: none;
   }